* {
  outline: none;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
}

body {
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  background: #b993d6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8ca6db, #b993d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  max-width: 350px;
  background-color: #eee;
  margin: 0 auto;
  border-radius: 4px;
  padding: 15px;
  background: #fff;
}

.app > button {
  padding: 10px;
  border-radius: 4px;
  background-color: #b993d6;
  width: 100%;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 1px solid #b993d6;
}

.app > button:hover {
  color: #b993d6;
  background-color: #fff;
}

.headline {
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
}

.holder {
  margin: 15px auto;
}

.holder > input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #b993d6;
  width: calc(100% - 20px);
}

.title {
  text-transform: uppercase;
  text-align: center;
}